.header {
  padding-bottom: 60px;
}

.header__img-wrapper {
  margin-bottom: 40px;
  padding: 0 30px;
  text-align: center;

  @media (max-width: 767px) {
    margin-bottom: 20px;
    padding: 0;
  }
}

.header__text {
  max-width: 830px;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  color: var(--333333);

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 171%;
  }
}
